<section>
    <div class="card">
        <div class="card-header">
          About
        </div>
        <div class="card-body">
          <h5 class="card-title">Hi, I'm Nurlaela Bahamady</h5>
          <p class="card-text">Email : nurlaela.bahamady&#64;gmail.com</p>
          <p class="card-text">You can see the code of this web on my github page</p>
          <a href="https://github.com/ellabahamady/angular-map-leaflet" class="btn btn-outline-primary" target="_blank">Github Link</a>
        </div>
    </div>
</section>